<div class="banner">

    <!-- slideshow start -->
    <div class="slideshow fullwidth">

        <!-- flexslider start -->
        <div class="flexslider loading">
            <ul class="slides">

                <!-- first slide start -->
                <li style="background-image:url('{{asset('images/slide-1.png')}}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-wrapper">
                                    <div class="caption caption-non-visible" data-caption-effect="fadeInDownSmall">
                                        <h1>ISET Kasserine </h1>
                                        <p>Elle a été crée en vertu de la loi numéro 1396/2004 du 22 juin 2004.Il est un établissement public à caractère scientifique et technologique doté de la personnalité civile et de l''autonomie financière.</p>
                                        <a href="#" class="btn btn-default btn-lg"> Let's start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- first slide end -->

                <!-- second slide start -->
                <li style="background-image:url('{{asset('images/slide-2.jpg')}}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-wrapper">
                                    <div class="caption caption-non-visible" data-caption-effect="fadeInDownSmall">
                                        <h1>Technologies de l'Informatique</h1>
                                        <p>Assurer un Enseignement Supérieur dans les Sciences Informatiques qui dure 5 semestres pour l'ancien régime (TS) et 6 semestres pour le nouveau régime (LMD).</p>
                                        <a href="#" class="btn btn-default btn-lg"> Let's start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- second slide end -->

                <!-- third slide start -->
                <li style="background-image:url('{{asset('images/slide-3.jpg')}}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-wrapper">
                                    <div class="caption caption-non-visible" data-caption-effect="fadeInDownSmall">
                                        <h1>Sciences Economiques et de Gestion</h1>
                                        <p>Assurer un Enseignement Supérieur dans les Sciences Economiques et de Gestion qui dure 5 semestres pour l'ancien régime (TS) et 6 semestres pour le nouveau régime (LMD).</p>
                                        <a href="#" class="btn btn-default btn-lg"> Let's start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>											
                </li>
                <!-- third slide start -->

            </ul>
        </div>
        <!-- flexslider end -->

    </div>
    <!-- slideshow end -->

</div>
