<div class="banner">

    <!-- slideshow start -->
    <div class="slideshow fullwidth">

        <!-- flexslider start -->
        <div class="flexslider loading">
            <ul class="slides">

                <!-- first slide start -->
                <li style="background-image:url('{{asset('images/slider-1-slide-1.jpg')}}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-wrapper">
                                    <div class="caption caption-non-visible" data-caption-effect="fadeInDownSmall">
                                        <h1>iVega Premium Template</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, consequuntur, laborum, non cum odit.</p>
                                        <a href="portfolio-item.html" class="btn btn-default btn-lg"> Let's start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- first slide end -->

                <!-- second slide start -->
                <li style="background-image:url('{{asset('images/slider-1-slide-2.jpg')}}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-wrapper">
                                    <div class="caption caption-non-visible" data-caption-effect="fadeInDownSmall">
                                        <h1>Very Flexible</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="portfolio-item.html" class="btn btn-default btn-lg"> Let's start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- second slide end -->

                <!-- third slide start -->
                <li style="background-image:url('{{asset('images/slider-1-slide-3.jpg')}}');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-wrapper">
                                    <div class="caption caption-non-visible" data-caption-effect="fadeInDownSmall">
                                        <h1>Need more?</h1>
                                        <p>Lorem consectetur adipisicing elit.</p>
                                        <a href="portfolio-item.html" class="btn btn-default btn-lg"> Let's start</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>											
                </li>
                <!-- third slide start -->

            </ul>
        </div>
        <!-- flexslider end -->

    </div>
    <!-- slideshow end -->

</div>
