<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="info">
                    <li><i class="fa fa-phone"></i> +216 77 418 000</li>
                    <li><i class="fa fa-home"></i> Campus Universitaire Kasserine, BP 448, 1200 Kasserine</li>
                    <li><i class="fa fa-envelope"></i> isetk@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="social-links text-right">
                    <li><a target="_blank" href="{{asset('https://web.facebook.com/ISET-de-Kasserine-page-officielle-251734751529742/?fref=ts')}}"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="{{asset('https://twitter.com/ISETKasserine')}}"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="{{asset('http://plus.google.com/')}}"><i class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" href="{{asset('https://www.instagram.com/i.s.e.t.k/')}}"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
