<section class="main">

    <!-- section start -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Bienvenue</h1>
                    <div class="separator"></div>
                    <p class="text-center">Les service en Back-office</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-users object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0"></i>
                                <h2>Espace Etudiant</h2>
                                <p>L'espace étudiant renferme les informations qui vous permettront de bien organiser votre vie étudiante : horaires, documents de référence, plusieurs liens utiles, etc. Bonne navigation!</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-graduation-cap object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"></i>
                                <h2>Espace Enseignant</h2>
                                <p>L'espace enseignant est un endroit réservé aux enseignants.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-institution object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400"></i>
                                <h2>Administration & Gouvernance</h2>
                                <p>L'espace Administration & Gouvernance est un endroit réservé aux directeurs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

    <!-- section start -->
    <div class="section bg-color-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive center-block" src="{{asset('images/6.jpg')}}" alt="iVega">
                </div>
                <div class="col-md-6">
                    <h2>L'Institut Supérieur des Etudes Technologiques de Kasserine </h2>
                    <p class="space">a été crée en vertu de la loi numéro 1396/2004 du 22 juin 2004.Il est un établissement public à caractère scientifique et technologique doté de la personnalité civile et de l''autonomie financière.</p>
{#                    <a href="page-about.html" class="btn btn-default btn-lg">Learn More</a>#}
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="bg-color-gray call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                      {#  <h2 class="text-center">We offer more, to meet your every need!</h2>#}
                    </div>
                    <div class="col-md-4 text-center">
{#                        <a href="#" class="btn btn-lg btn-white">Purchase</a>#}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <h1 class="text-center">Nos Specialités</h1>
            <div class="separator"></div>
{#            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box-3 icon-right clearfix object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="0">
                        <i class="fa fa-bolt"></i>
                        <div class="text">
                            <h4>Genie Electrique</h4>
                            <p class="small">Assurer un Enseignement Supérieur en Génie électrique qui dure 6 semestres pour le nouveau régime (LMD).</p>
                        </div>
                    </div>
                    <div class="icon-box-3 icon-right clearfix object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="100">
                        <i class="fa fa-gears"></i>
                        <div class="text">
                            <h4>Genie Mécanique</h4>
                            <p class="small">Assurer un Enseignement Supérieur en Génie Mécanique qui dure 5 semestres pour l'ancien régime et 6 semestres pour le nouveau régime (LMD).</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <img src="{{asset('images/iset_kasserine.png')}}" alt="ivega" class="object-non-visible center-block" data-animation-effect="fadeInDownSmall" data-effect-delay="400">
                </div>							
                <div class="col-sm-12 col-md-4">
                    <div class="icon-box-3 icon-left clearfix object-non-visible" data-animation-effect="fadeInRightSmall" data-effect-delay="0">
                        <i class="fa fa-group"></i>
                        <div class="text">
                            <h4>Sciences Economiques et de Gestion</h4>
                            <p class="small">Assurer un Enseignement Supérieur dans les Sciences Economiques et de Gestion qui dure 5 semestres pour l'ancien régime (TS) et 6 semestres pour le nouveau régime (LMD).</p>
                        </div>
                    </div>
                    <div class="icon-box-3 icon-left clearfix object-non-visible" data-animation-effect="fadeInRightSmall" data-effect-delay="100">
                        <i class="fa fa-desktop"></i>
                        <div class="text">
                            <h4>Technologies de l'Informatique</h4>
                            <p class="small">Assurer un Enseignement Supérieur dans les Sciences Informatiques qui dure 5 semestres pour l'ancien régime (TS) et 6 semestres pour le nouveau régime (LMD).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

    

</section>
