{% extends "ISETKBundle:Template:Template.html.twig" %}

{% block titre %}

    <title>Compte</title>

{% endblock %}




{% block main %}


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Gestion des comptes</h1>
                    <div class="separator"></div>
                    <p class="text-center"></p>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-user object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0"></i>
                                <h2>Liste Enseignant</h2>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box">
{#                                {{ path('fos_user_register') }}#}
                                <a href="#" ><i class="fa fa-user-plus object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"></i></a>
                                <h2>Ajouter un compte</h2>
                                <p></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="icon-box">
                                <i class="fa fa-users object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400"></i>
                                <h2>Liste Etudiant</h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
